aniso8601==8.0.0
appdirs==1.4.3
asgiref==3.2.7
astroid==2.3.3
attrs==19.3.0
bleach==3.1.4
click==7.1.1
colorama==0.4.3
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.0
Django==3.0.5
djangorestframework==3.11.0
entrypoints==0.3
filelock==3.0.12
Flask==1.1.2
Flask-RESTful==0.3.8
google-colab==1.0.0
gunicorn==20.0.4
httplib2==0.17.3
imageio==2.8.0
importlib-metadata==1.6.0
ipykernel==4.6.1
ipython==5.5.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.1
joblib==0.14.1
jsonify==0.5
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.2
jupyter-console==6.1.0
jupyter-core==4.6.3
kiwisolver==1.2.0
langdetect==1.0.8
langid==1.1.6
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
matplotlib==3.2.1
mccabe==0.6.1
mistune==0.8.4
nbconvert==5.6.1
nbformat==5.0.5
nltk==3.5
notebook==6.4.12
numpy==1.18.2
pandas==0.24.2
pandocfilters==1.4.2
pickleshare==0.7.5
Pillow==7.1.1
portpicker==1.2.0
prompt-toolkit==3.0.5
pycld2==0.41
Pygments==2.6.1
pylint==2.4.4
pyparsing==2.4.7
pyrsistent==0.16.0
python-dateutil==2.8.1
pyzmq==19.0.0
qtconsole==4.7.2
QtPy==1.9.0
regex==2020.4.4
requests==2.21.0
scipy==1.4.1
seaborn==0.10.1
simplegeneric==0.8.1
simplejson==3.17.0
six==1.14.0
sqlparse==0.3.1
testpath==0.4.4
textblob==0.15.3
textblob-ar-mk==0.0.2
textblob-fr==0.2.0
tornado==6.0.4
tqdm==4.45.0
traitlets==4.3.3
typed-ast==1.4.1
urllib3==1.24.3
virtualenv==20.0.16
wcwidth==0.1.9
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.11.2
zipp==3.1.0
